In [2]:
#TUPLES & LISTS

In [3]:
#CREATING A TUPLE
A = (0,1,2,3)
print(A)

(0, 1, 2, 3)

In [4]:
#FINDING THE FIRST 2 ELEMENTS IN A TUPLE
A[0:2]

(0, 1)

In [5]:
#LISTS
B=["a","b","c"]

In [6]:
#FINDING THE FIRST TWO ELEMENTS IN THE LIST
B[0:2]

['a', 'b']

In [7]:
#CHANGING THE FIRST ELEMENT IN THE LIST
B[0] = 'A'
print(B)

['A', 'b', 'c']

In [8]:
#INDEXING 
B[1:]

['b', 'c']

In [1]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [2]:
# Print the type of the tuple you created

type(tuple1)

tuple

In [3]:
#INDEXING

In [4]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [5]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [6]:
# Use negative index to get the value of the last element

tuple1[-1]

1.2

In [8]:
tuple1[-2]

10

In [9]:
tuple1[-3]

'disco'

In [10]:
#CONCATENATE TUPLES

In [11]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [13]:
#SLICING

In [14]:
# Slice from index 0 to index 2

tuple2[0:3]

('disco', 10, 1.2)

In [15]:
# Slice from index 3 to index 4

tuple2[3:5]

('hard rock', 10)

In [16]:
#WE CAN OBTAIN THE LENGTH OF THE TUPLE

In [17]:
# Get the length of tuple

len(tuple2)

5

In [18]:
#SORTING

In [19]:
Ratings = (10,5,8,9,7,1,6,3,0,2,4)

In [21]:
Ratingssorted = sorted(Ratings)
print(Ratingssorted)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
#NESTED TUPLE

In [23]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [24]:
# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [25]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [26]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

'r'

In [27]:
# Print the second element in the second nested tuples

NestedT[2][1][1]

'o'

In [28]:
# Print the first element in the second nested tuples

NestedT[4][1][0]

1

In [29]:
# Print the second element in the second nested tuples

NestedT[4][1][1]

2

In [30]:
#QUIZ

In [31]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [32]:
#FINDING THE LENGTH OF THE genres_tuple
len(genres_tuple)

8

In [33]:
# Write your code below and press Shift+Enter to execute
genres_tuple[3]

'hard rock'

In [34]:
# Write your code below and press Shift+Enter to execute
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [35]:
# Write your code below and press Shift+Enter to execute
genres_tuple[0:2]

('pop', 'rock')

In [36]:
# Write your code below and press Shift+Enter to execute
genres_tuple.index("disco")

7

In [37]:
# Write your code below and press Shift+Enter to execute
C_tuple=(-5, 1, -3)
C_sorted= sorted(C_tuple)
C_sorted

[-5, -3, 1]

In [38]:
# Create a list

L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [39]:
# Print the elements on each index

print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

In [40]:
# Sample List

["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

In [41]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [42]:
# List slicing

L[3:5]

['MJ', 1]

In [43]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [44]:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [45]:
#Each time we apply a method, the list changes. If we apply extend we add two new elements to the list. The list L is then modified by adding two new elements:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [46]:
# Use append to add elements to list

L.append(['a','b'])
L

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]

In [47]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [48]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [49]:
# Split the string, default is by space

'hard rock'.split()

['hard', 'rock']

In [50]:
# Split the string by comma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [ ]:
#cloning & copying

In [51]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [52]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [53]:
# Clone (clone by value) the list A

B = A[:]
B

['banana', 10, 1.2]

In [54]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

In [55]:
#SETS
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [56]:
album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [57]:
music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

In [58]:
#SET OPERATIONS
A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [59]:
# Add element to set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [60]:
A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [61]:
#SET LOGICAL OPERATIONS
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [62]:
# Print two sets

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [63]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [64]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

In [65]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

In [66]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [67]:
# Find the union of two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [68]:
# Check if superset

set(album_set1).issuperset(album_set2)

False

In [69]:
# Check if subset

set(album_set2).issubset(album_set1)

False

In [70]:
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [71]:
# Check if superset

album_set1.issuperset({"Back in Black", "AC/DC"})

True

In [75]:
album_set1.issubset(album_set2)

False

In [76]:
#DICTIONARIES
Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [91]:
# Access to the value by the key

Dict["key4"]

(4, 4, 4)

In [78]:
# Access to the value by the key

Dict[(0, 1)]

6

In [79]:
# Create a sample dictionary

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [80]:
# Get value by keys

release_year_dict['Thriller']

'1982'

In [81]:
# Get value by key

release_year_dict['The Bodyguard']

'1992'

In [82]:
# Get all the keys in dictionary

release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [83]:
# Get all the values in dictionary

release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [84]:
# Append value with key into dictionary

release_year_dict['Graduation'] = '2007'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [85]:
# Delete entries by key

del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [86]:
'The Bodyguard' in release_year_dict

True

In [87]:
#Create a dictionary album_sales_dict where the keys are the album name and the sales in millions are the values
# Write your code below and press Shift+Enter to execute
album_sales_dict={"Back in Black" :50, "The Bodyguard" : 50, "Thriller" : 65}
album_sales_dict

{'Back in Black': 50, 'The Bodyguard': 50, 'Thriller': 65}

In [88]:
#b) Use the dictionary to find the total sales of Thriller:
# Write your code below and press Shift+Enter to execute
album_sales_dict["Thriller"]

65

In [89]:
#c) Find the names of the albums from the dictionary using the method keys():
# Write your code below and press Shift+Enter to execute
album_sales_dict.keys()

dict_keys(['Back in Black', 'The Bodyguard', 'Thriller'])

In [90]:
#d) Find the values of the recording sales from the dictionary using the method values:
# Write your code below and press Shift+Enter to execute
album_sales_dict.values()

dict_values([50, 50, 65])